body {
    font-family: Arial, sans-serif;
    background-color: #1a57ca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1f94e2;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #1f94e2, #0056b3);
    color: white;
    cursor: pointer;
    font: 1em sans-serif;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #0056b3, #1f94e2);
}

.hidden {
    display: none;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#options button {
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px 0;
}
footer a {
    color: var(--footer-text-color);
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

footer a:hover {
    color: var(--header-text-color);
    transform: rotate(360deg);
}